// $primary-login-color:#009da3;
$primary-login-color: #414555;
$opacity-color: #243b55c0;

$sm: 576px;
$md: 1092px;

.register {
  height: 100vh;
  background-color: $primary-login-color;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30);
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $sm) {
    height: auto;
    // width:90%;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 50%;
    height: 500px;
    overflow: hidden;
    border-radius: 7px;
    @media screen and (max-width: $md) {
      height: 90%;
      width: 90%;
      border-radius: 10px;
    }

    @media screen and (max-width: $sm) {
      width: 90%;
      height: 100%;
      overflow: scroll;
      border-radius: 10px;
      top: 25px;
      position: absolute;
      flex-direction: column;
    }

    .left {
      height: 100%;
      background: linear-gradient($opacity-color, $opacity-color),
        url("https://images.pexels.com/photos/3182750/pexels-photo-3182750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
          no-repeat center center/cover;
      flex: 1;
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 35px;
      color: white;
      overflow: hidden;
      @media screen and (max-width: $sm) {
        flex: auto;

        display: none;
      }
      h1 {
        font-size: 40px;
        line-height: 50px;
      }
      p {
      }
      span {
        font-size: 13.5px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: $primary-login-color;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          background-color: $opacity-color;
          transition: all 0.2s ease-in-out;
          color: white;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      gap: 20px;
      padding: 50px;
      flex: 1;
      background-color: white;
      height: 100%;
      @media screen and (max-width: $sm) {
        flex: auto;
        width: 75%;

        border-radius: 10px;
        opacity: 0.9;
      }
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 16px;
        input {
          border: none;
          border-bottom: 2px solid $primary-login-color;
          padding: 10px 10px;
          outline: none;
        }
        label {
          display: flex;
          align-items: center;
          // justify-content: center;
          font-size: 13.5px;
          color: #555;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: $primary-login-color;
          color: white;
          cursor: pointer;
          font-weight: bold;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: darken($primary-login-color, 20%);
            color: white;
          }
        }
        #pfp {
          display: none;
        }
      }
    }
  }
  .google {
    width: 50%;
    padding: 10px;
    border: none;
    background: linear-gradient(
      -120deg,
      #4286f442,
      #34a85337,
      #fbbd053e,
      #ea443544
    );
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;

    &:hover {
      background-color: darken($primary-login-color, 10%);
      color: white;
    }
  }
}

.error {
  font-size: 12px;
}

.loader {
  height: 23px;
  width: 23px;
}
@media screen and (max-width: $sm) {
  body {
    background-color: $primary-login-color;
  }
}
