$primary-login-color:rgb(114, 91, 124);
$opacity-color:rgba(108, 58, 132, 0.498);

.register{


    height: 100vh;
    background-color: $primary-login-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        width: 50%;
        height: 500px;
        overflow: hidden;
        border-radius: 7px;

        .left
        {
            height: 100%;
            background:linear-gradient($opacity-color,$opacity-color), url('https://images.pexels.com/photos/3182750/pexels-photo-3182750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
            flex: 1;
            padding: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 35px;
            color: white;
            overflow: hidden;
            h1{
                     font-size: 50px;
                     line-height: 50px;
            }
            p{

            }
            span{
                      font-size: 13.5px;
            }

            button{
                      width: 50%;
                      padding: 10px;
                      border: none;
                      background-color: white;
                      color: $primary-login-color ;
                      cursor: pointer;
                      font-weight: bold;
            }
           

        }
        .right
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap:20px;
            padding: 50px;
            flex: 1;
            background-color: white;
            height: 100%;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 2px solid $primary-login-color;
                    padding:15px 10px;
                    outline: none;
                }
                label{
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    font-size: 13.5px;
                    color: #555;
                }
                
                button{
                  width: 50%;
                  padding: 10px;
                  border: none;
                  background-color: $primary-login-color;
                  color: white;
                    cursor: pointer;font-weight: bold;
                }
                #pfp{
                    display: none;
                }
            }

        }
    }
}