$secondary-color: #1c273a;
$primary-color: #141e30;
$other-color: white;
$blurColor: rgb(244, 244, 244);
$friendColor: #494d5b;
$userColor: #1d90f5;

$sm: 576px;
$md: 1092px;

.home {
  background-color: $primary-color;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: "white";
  .container {
    // border: 2px solid red;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;

    @media screen and (max-width: $md) {
      width: 100%;
      height: 100%;
    }
  }

  .sidebar {
    flex: 1;
    border-right: 2px solid darken($secondary-color, 30%);

    .search {
      width: 100%;
      border-bottom: 1px solid darken($primary-color, 30%);
      .searchForm {
        display: flex;
        align-items: center;
        button {
          background: none;
          border: none;
          color: $other-color;
          border-radius: 5px;
          background-color: lighten($secondary-color, 4%);
          font-size: 12px;
          padding: 5px 10px;
          cursor: pointer;
          margin-right: 10px;
        }
        input {
          width: 90%;
          border: none;
          background: rgba(0, 0, 0, 0);
          padding: 13px 10px;
          margin-bottom: 13px;
          font-size: 14px;
          // border-bottom: 1px solid darken($primary-color, 30%);
          color: white;
          outline: none;

          &::placeholder {
            color: $other-color;
          }
        }
      }
    }

    .usersChat {
      .user {
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content:space-between;
        gap: 10px;
        padding: 10px;
        color: white !important;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .userName {
            font-size: 14px;
            font-weight: bold;
            color: $other-color;
          }
          .time {
            font-size: 12px;
          }
        }

        &:hover {
          background-color: lighten($secondary-color, 30%);
          cursor: pointer;
          transition: all 0.2s ease;
        }
      }
    }
  }
  .chats {
    .userChatInfo {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .time {
    font-size: 12px;
  }
}
.chat {
  flex: 2;

  .chatImage {
    height: 30px;
    width: 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 15px;
    }
  }

  .chatInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    align-items: center;
    background-color: $primary-color;
    color: $other-color;
    .chatIcons {
      display: flex;
      gap: 5px;
      color: $other-color;
    }
  }
  .messages {
    background-color: lighten($primary-color, 8%);
    padding: 10px;
    height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 0 1rem;
    padding-top: 1rem;
    .message {
      display: flex;
      gap: 10px;
      margin-bottom: 1.45rem;

      .messageInfo {
        display: flex;
        flex-direction: column;
        span {
          font-size: 12px;
          color: grey;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .messageContent {
        display: flex;
        //  max-width: 50%;
        max-width: 50%;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        p {
          background-color: $friendColor;
          padding: 10px;
          border-radius: 0 10px 10px 10px;
          font-size: 14px;
          color: $other-color;
          word-wrap: break-word;
          width: inherit;
        }
        //  max-width: fit-content;
        img {
          width: 80%;
          border-radius: 8px;
          object-fit: cover;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
      }
      &.owner {
        flex-direction: row-reverse;

        .messageContent {
          align-items: flex-end;
        }
        p {
          background-color: $userColor;
          color: white;
          border-radius: 10px 0px 10px 10px;
        }
      }
    }
  }
  .input {
    background-color: darken($primary-color, 5%);
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    input {
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      color: $other-color;

      &::placeholder {
        color: $other-color;
      }
    }
    .msg-input {
      width: 100%;
    }
    .send {
      display: flex;
      align-items: center;
      gap: 10px;
      label {
        cursor: pointer;
      }

      button {
        background-color: $primary-color;

        border-radius: 7px;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}
